.form{
	background: $avoDarkGreen;
}

.addAvocado__splash{
	min-height: 100vh;
	background: url('../../assets/avocado.svg');
  background-size: contain;
  background-clip: 
  background-repeat: no-repeat;
  background-position: bottom -200px right -200px;
}