.form{
	background: $avoDarkGreen;
}

.addAvocado__splash{
	min-height: 85vh;
	background: url('../../assets/avocado.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom -200px right -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}