html{
	font-size: 62.5%;
}
*{
	margin: 0;
	padding: 0;
}
img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}
ul{
	list-style: none;
}
body{
	background: $avoGreen;
	background-size: cover;
	color: $avoBlack;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url('../../assets/avocado.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom -200px right -200px;
	}

}
#app{
	position: relative;
	z-index: $topLayer;
}

.wrapper{
	max-width: 1170px;
	margin: 0 auto;
}
.screenReader{
	position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}